
body {
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	text-align: center;
}

h1 strong {
	color: #77aa11;
}

section div {
	margin: auto 2em;
	text-align: center
}

footer {
	background-color: #eee;
	padding: 1em;
	margin-top: 2em;
}

footer p {
	margin: auto 2em;
	color: #8899aa;
	margin: 0;
}