
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 120%;
}

header, footer, section {
	margin: auto 2em;
}

header {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

footer {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}



h1 {
	text-align: center;
	font-size: 200%;
}

header {
	margin-top: -10px;
	height: 80px;
	background: #5676a3 url('plane.png') top right no-repeat;
}

h1 strong {
	color: #77aa11;
}

section div {
	text-align: center
}

footer {
	background-color: #eee;
	padding: 1em;
	margin-top: 2em !important;
}

footer p {
	color: #8899aa;
	margin: 0;
}

